body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainPageTitle {
  position: absolute;
  left: 290px;
  top: 230px;
  font-size: 6rem;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.mainPageDesc1 {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 330px;
  left: 290px;
  font-size: 2.5rem;
  color: #9B9B9B;
}

.mainPageDesc2 {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 380px;
  left: 290px;
  font-size: 2.5rem;
  color: #9B9B9B;
}

.mainPageDesc3 {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 430px;
  left: 290px;
  font-size: 2.5rem;
  color: #9B9B9B;
}

.mainPageBtn{
  position: absolute;
  top: 500px;
  left: 290px;
  background-color: #D9D9D9;
  border-radius: 25px;
  border: 0cm;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
}

.mainPageBtn:hover {
  cursor: pointer;
}

.imgCareer {
  position: absolute;
  height: 100%;
  width: 100%;
}


.imgTranferHistory {
  position: absolute;
  top: 30%;
  left: 5%;
}

.imgAndorinha {
  position: absolute;
  height: 7;
  width: 90px;
  top: 270px;
  left: 110px;
  opacity: 0;
}

.imgAndorinha:hover {
  opacity: 100;
}

.imgNacional{
  position: absolute;
  height: 8;
  width: 95px;
  top: 525px;
  left: 207px;
  opacity: 0;
}

.imgNacional:hover {
  opacity: 100;
}


.imgSporting {
  position: absolute;
  height: 6;
  width: 80px;
  top: 286px;
  left: 323px;
  opacity: 0;
}

.imgSporting:hover {
  opacity: 100;
}


.imgManUnited {
  position: absolute;
  height: 8;
  width: 95px;
  left: 447px;
  top: 525px;
  opacity: 0;
}

.imgManUnited:hover {
  opacity: 100;
}

.imgRealMadrid {
  position: absolute;
  height: 10;
  width: 120px;
  top: 275px;
  left: 673px;
  opacity: 0;
}

.imgRealMadrid:hover {
  opacity: 100;
}


.imgJuventus {
  position: absolute;
  height: 7;
  width: 65px;
  top: 292px;
  left: 1185px;
  opacity: 0;
}

.imgJuventus:hover {
  opacity: 100;
}

.imgManUnited2 {
  position: absolute;
  height: 8;
  width: 95px;
  left: 1338px;
  top: 520px;
  opacity: 0;
}

.imgManUnited2:hover {
  opacity: 100;
}

.imgAlNassr {
  position: absolute;
  height: 10;
  width: 90px;
  top: 280px;
  left: 1495px;
  opacity: 0;
}

.imgAlNassr:hover {
  opacity: 100;
}

.btnNavBar:hover {
  color: white;
}


.bioTitle {
  position: absolute;
  left: 290px;
  top: 130px;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.imgBio {
  margin-left: 265px;
  margin-top: 150px;
}

.whiteBoxTitleAbout {
  position: absolute;
  top: 222px;
  left: 700px;
  width: 800px;
  height: 50px;
  background: white;
  padding-top: 15px;
  padding-left: 25px;
}

.whiteBoxAbout { 
  position: absolute;
  top: 292px;
  left: 700px;
  width: 775px;
  height: 225px;
  background: white;
  padding: 25px;
  padding-top: 35px;
}

.flexCarrerStatsAndTransfer {
  display: flex;
  flex-wrap: wrap;
}

.whiteBoxTitleCareerStats {
  margin-left: 265px;
  margin-top: 50px;
  width: 550px;
  height: 50px;
  background: white;
  padding-top: 15px;
  padding-left: 25px;
}

.whiteBoxCareerStats {
  margin-left: 265px;
  margin-top: 5px;
  width: 550px;
  height: 325px;
  background: white;
  padding-left: 25px;
  padding-top: 35px;
}

.whiteBoxTitleTransferHist {
  margin-left: 110px;
  margin-top: 50px;
  width: 550px;
  height: 50px;
  background: white;
  padding-top: 15px;
  padding-left: 25px;
}

.whiteBoxTransferHist {
  margin-left: 110px;
  margin-top: 5px;
  width: 550px;
  height: 350px;
  background: white;
  padding-top: 15px;
  padding-left: 25px;
}

.whiteBoxTitleEarlyLife {
  margin-left: 265px;
  margin-top: 50px;
  width: 1230px;
  height: 50px;
  background: white;
  padding-top: 15px;
  padding-left: 25px;
}

.whiteBoxEarlyLife {
  margin-left: 265px;
  margin-top: 5px;
  width: 1205px;
  height: 450px;
  background: white;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.8;
}

.flexPhotos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}


.TimelineTitle {
  position: absolute;
  left: 290px;
  top: 100px;
  font-size: 6rem;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.ball {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 450px;
  left: 326px;
}

.line {
  top: 475px;
  left: 348px;
  width: 15px;
  height: 80%;
  background-color: white;
  position: absolute;
}

.line-full {
  top: 74px;
  left: 348px;
  width: 15px;
  height: 100%;
  background-color: white;
  position: absolute;
}

.textotimeline1 {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 270px;
  left: 410px;
  font-size: 2.0rem;
  color: white;
}

.datatimeline1 {
  position: absolute;
  left: 250px;
  top: 405px;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.invisible-button {
  background-color: transparent;
  border: none;
  color: #414141;
  cursor: pointer;
  width: 1000px;
  height: 50px;
  position: absolute;
  top: 85px;
  left: 400px;
}

.invisible-button-bottom {
  background-color: transparent;
  border: none;
  color: #414141;
  cursor: pointer;
  width: 1000px;
  height: 50px;
  position: absolute;
  top: 820px;
  left: 400px;
}